:root {
	--primary-bg-color: #e3e3e3;
	--secondary-bg-color: #001d1e;
	--positive-color: #b4654a;
	--positive-color-bright: #f2693b;
	--setback-color: #c2c5bb;

	--tile-width: 200px;
	--columns-num: 4;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--secondary-bg-color);
	font-family: 'MuseoModerno', cursive;
}

.title-holder {
	display: block;
	width: 100%;
	max-width: 100%;
	margin: 15px 0 30px;
	h1 {
		color: var(--positive-color-bright);
	}
	h2 {
    margin: 5px 0;
    font-size: 1.5em;
		color: var(--secondary-bg-color);
	}	
	h3 {
    margin: 5px 0;
    font-size: 1.5em;
		color: var(--secondary-bg-color);
	}
}
.disclaimer {
	margin: 0;
	margin-top: auto;
	color: var(--secondary-bg-color);
}

.sliding-tile-puzzle {
	position: relative;
	padding: 20px;
	background: var(--primary-bg-color);
	border-radius: 4px;
	border: 2px solid var(--primary-bg-color);
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr;
}

.tile-container {
	position: relative;
  display: grid;
  grid-gap: 10px;
	grid-template-columns: repeat(var(--columns-num), 1fr);
	grid-template-rows: repeat(var(--columns-num), minmax(var(--tile-width), auto));
	width: calc( (var(--columns-num) * var(--tile-width)) + calc(var(--columns-num) * 10px) );
	max-width: calc( (var(--columns-num) * var(--tile-width)) + calc(var(--columns-num) * 10px) );
	flex-wrap: wrap;
}

.tile {
	display: block;
	flex: 0 1 auto;
	height: var(--tile-width);
	width: var(--tile-width);
	border-radius: 2px;
	box-shadow: 1px 1px 3px 0px grey;
	background-size: calc( (var(--columns-num) * var(--tile-width)) + calc(var(--columns-num) * 10px) ) calc( (var(--columns-num) * var(--tile-width)) + calc(var(--columns-num) * 10px) ); // this is the size of the container
	background-position: center; // this should be based on the distance from the container edges
	background-image: url('./../img/lake-cabin.jpg');
	transform-origin: center center;
	// the empty tile
	&.open, &.empty {
		background: transparent;
		box-shadow: none;
		border: none;
	}
	
	&:hover {
		cursor: pointer;
		// add an effect to the tile here? Wobble or something...
	}
}

.controls-container {
	display: block;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 0 20px 0 0;
	background: var(--primary-bg-color);
	border: 2px solid var(--primary-bg-color);
	border-right: none;
	width: 100%;
	max-width: 300px;
}
// reference image
.reference-img {
	display: block;
	width: 100%;
	max-width: calc(100% - 8px);
	margin: 5px auto;
	padding: 2px;
	border: 2px solid var(--secondary-bg-color);
	border-radius: 2px;
	background: var(--primary-bg-color);
}
.control-button {
	display: block;
	width: 100%;
	padding: 10px 16px;
	margin: 5px auto;
	background: var(--positive-color);
	border: 1px solid var(--positive-color);
	color: #333;
	font-size: 18px;
	font-weight: normal;
	border-radius: 2px;
	&:hover {
		cursor: pointer;
	}
	// disabled state
	&:disabled {
		background: var(--setback-color);
		border-color: var(--setback-color);
		color: #333;
		&:hover {
			cursor: not-allowed;
		}
	}
}

// swal alerts - custom styling
// buttons
.swal-button {
	display: block;
	width: 100%;
	padding: 10px 16px;
	margin: 5px auto;
	background-color: var(--positive-color);
	border: 1px solid var(--positive-color);
	color: var(--primary-bg-color);
	font-size: 18px;
	font-weight: normal;
	border-radius: 2px;
	&:hover, &:not([disabled]):hover {
		cursor: pointer;
		background-color: var(--secondary-bg-color);
		border-color: var(--secondary-bg-color);
	}
}
.swal-button--cancel {
	background-color: var(--setback-color);
	border-color: var(--setback-color);
	color: #333;
	&:hover, &:not([disabled]):hover {
		cursor: pointer;
		background-color: var(--secondary-bg-color);
		border-color: var(--secondary-bg-color);
		color: var(--primary-bg-color);
	}
}
// icon
.swal-icon--success__line {
	background-color: var(--positive-color);
}
.swal-icon--success__ring {
	border-color: rgba(180, 101, 74, 0.75);
}

// success animation
@keyframes party-fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
.notes {
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  z-index: -1;
  animation: party-fade-in 100ms 2s linear backwards;
  div {
    position: absolute;
    top: 0;
    left:0;
    $length: 10;
    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        animation: notesFade#{$i} (random()*2s+0.5s) (random()*2s) ease-out infinite both;
        color: hsl(($i / $length)*360deg, 50%, 50%);
        font-size: random() * 2rem + 0.5rem;
      }
      @keyframes notesFade#{$i} {
        0% {
          opacity: 0;
        }
        20%{
          opacity: 1;
        }
        100% {
          transform: rotate(random()*50deg - 25deg) translateY(random() * -100px - 100px);
          opacity: 0;
        }
      }
    }
  }
}