body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #f4f4f4;
}

.sliding-tile-puzzle {
	position: relative;
	padding: 10px;
	background: #e6e6e6;
	border-radius: 2px;
	border: 2px solid #e4e4e4;
}

.tile-container {
	position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
	grid-template-rows: minmax(200px, auto) minmax(200px, auto) minmax(200px, auto) minmax(200px, auto); 
	width: 830px;
	max-width: 830px;
	flex-wrap: wrap;
}

.tile {
	display: block;
	flex: 0 1 auto;
	height: 100%;
	width: 100%;
	border-radius: 1px;
	box-shadow: 1px 1px 3px 0px grey;
	background-size: 930px 930px; // this is the size of the container
	background-position: center; // this should be based on the distance from the container edges
	background-image: url('https://raw.githubusercontent.com/Recidvst/recidvst-images/master/lake-cabin-min.jpg');
	// the empty tile
	&.open, &.empty {
		background: transparent;
		box-shadow: none;
		border: none;
	}
	
	&:hover {
		cursor: pointer;
		// add an effect to the tile here? Wobble or something...
	}
}

.buttons-container {
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-height: 100%;
	transform: translate(-100%, -2px);
	padding: 0 0 0 10px;
	background: #e6e6e6;
	border: 2px solid #e6e6e6;
	border-right: none;
}
.control-button {
	display: block;
	width: 100%;
	padding: 10px 16px;
	margin: 5px auto;
	background: #5e7298;
	border: 1px solid #5e7298; 
	color: white;
	font-size: 18px;
	border-radius: 2px;
	&:hover {
		cursor: pointer;
	}
	// disabled state
	&:disabled {
		background: #c5c5c5;
		border-color: #c5c5c5;
		&:hover {
			cursor: not-allowed;
		}
	}
}


/** TODOS */
// add tooltip to tiles
// animate tiles on movement
